*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
header{
    background-image: url("https://468071-1468262-3-raikfcquaxqncofqfm.stackpathdns.com/pub/media/wysiwyg/NOV_BANNER_2_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
}
nav{
    padding: 1% 8%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2% 4%; */
}
h1{
    font-size: 250%;
}
.quote p{
    font-size: 100%;
}
.logo{
    font-size: larger;
    font-weight: bolder;
    color: black;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: large;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav ul li{
    padding-right: 50px;
}
.quote{
    padding-left: 10%;
    padding-top: 20%;
    font-size: larger;
}
.buybtn{
    background-color: white;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 10px;
}
h2{
    padding: 6% 10% 4%;
    text-align: center;
    font-size: 30px;
}
.mycart img{
    width: 40px;
}
.buttons{
    display: flex;
}
.login{
    background-color: rgb(74, 74, 74);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 40px;
}

/* ----------------------------------- */


.paintings-list{
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(205, 205, 205); */
    
    padding: 0 7%;
}
.h{
    width: 10px;
}
.image img{
    margin: 10px 30px;
}
.painting{
    margin: 21px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* width: 30%; */
    background-color: rgb(225, 225, 225);
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.painting .image img{
    margin-top: 35px;
    display: block;
    max-width: 20vw;
    border-radius: 5px;
    transition: transform .5s;
}
.painting .image img:hover{
    transform: translateY(-10px);
}

.painting-details{
    display: inline-block;
    padding: 10px;
    /* background-color: rgb(38, 38, 38); */
}
table{
    margin: 10px ;
    width: 90%;
}
.artname{
    font-weight:900;
    /* background-color:black; */
}
/* --------------------------- */
.artist{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    margin: 10px 8%;
}
.artist-img{
    overflow: hidden;
    margin: 20px;
    position: relative;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    margin: 4%;
}
.artist img{
    width: 100%;
    margin: 0;
    height: 100%;
}
.artist-details{
    padding: 35% 10% 10%;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0),rgb(0, 0, 0, 0.5));
    /* background-color: rgb(0, 0, 0, 0.3); */
    position: absolute;
    top: 100%;
    /* transform: translate(-50%, -50%); */
    transition: top .5s;
}
.artist-img:hover .artist-details{
    top: 0;
}
hr{
    margin: 5% 7% 2%;
}
footer{
    padding: 10% 5% 5%;
    width: 100%;
}
.row{
    display: flex;
}
.col-3{
    width: 25%;
}
.col-6{
    width: 50%;
}